.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../../public/Home/Hero/HeroBg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h1{
    line-height: 1 !important;
}

.span1{
    font-size: 3.6rem !important;
    color: var(--navy);
}

.span2{
    font-size: 6rem !important;
    color: #117295;
}

.para{
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
}

@media only screen and (max-width: 600px){
    .hero{
        background-image: url('../../public/Home/Hero/bannermobile.jpg');
    }

    .hero #heroText h1{
        text-align: center;
    }

    .span1{
        font-size: 2.5rem !important;
        color: #fff;
    }

    .span2{
        font-size: 3.9rem !important;
    }

    .para{
        color: #fff;
    }

    .h1{
        line-height: 0.6 !important;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1199px){
    .h1{
        line-height: 1.167 !important;
    }
}