#footer_top {
    width: 100%;
    height: auto;
    background-image: url('../Components/Layout/Footer/images/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #footer_top .title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  

  #footer_top li a{
    color: #fff;
    font-size: 1rem;
  }

  #footer_top li a:hover{
    color: #117295;
  }

footer p a, footer p{
  color: #117295;
  font-size: 1rem;
  font-weight: 600 !important;
}