.media img{
    min-width: 60% !important;
    min-height: 100% !important;
    max-width: 60% !important;
}

.media .media-body h5{
    font-size: 1.5rem;
}

.circle:hover{
   transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
}