.heading {
    font-size: 2.1rem !important;
    color: var(--navy);
}

@media only screen and (max-width: 600px){
    .heading{
        font-size: 1.8rem !important;
        text-transform: capitalize !important;
    }
}